/* Global Variables for colors fonts etc */
$light-bg-color: #ff0000;
$dark-bg-color: #c20101;
$dark-foreground-color: #595daf;
$light-foreground-color: #d1d2e9;
$button-color: #c20101;
$button-hover: #ff0000;